$theme: #ff98be;
$z-index: 100;
$z-index-progress: 101;
$z-index-controls: 102;
$z-index-controls-dot: 103;
$z-index-bottom-bar: 104;
$z-index-video: 1000;
$controls-size: 1.5em;
$controls-margin-size: 1em;
